@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_ReactLayout.cshtml";
}
<h3>
    This is an ASP.NET Core (1.0.0) web site using React
</h3>
<hr />

<div id='root'>
</div>

@section scripts{

}