<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    @if (Environment.GetEnvironmentVariable("ISDEVELOPMENTENV") != null)
    {
        <script src="~/lib/jquery/dist/jquery.js"></script>
    }
    else
    {
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
    }
    <script src="~/js/site.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css">

    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
</head>
<body>

    <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#Menu" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Inventory Manager</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="Menu">
                <ul class="nav navbar-nav">
                    <li><a href="#" id="Property">Property</a></li>
                    <li><a href="#" id="PropertyList">Property List</a></li>
                    <li><a href="#" id="Element">Element</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="panel-body">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-8 col-lg-6">
                    <input type="text" class="form-control" name="name" placeholder="Name">
                </div>
            </div>
            <div class="form-group">
                <label for="description" class="col-sm-2 control-label">Description</label>
                <div class="col-sm-8 col-lg-6">
                    <input type="text" class="form-control" name="description" placeholder="Description">
                </div>
            </div>
            <div class="form-group">
                <label for="datatype" class="col-sm-2 control-label">Data Type</label>
                <div class="col-sm-8 col-lg-6">
                    <input type="text" class="form-control" name="datatype" placeholder="Data Type">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">[FAKE: Select list]</label>
                <div class="col-sm-8 col-lg-6">
                    <select class="form-control">
                        <option>Select Property 1</option>
                        <option>Select Property 2</option>
                        <option>Select Property 3</option>
                        <option>Select Property 4</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">[FAKE: Mutiple select list]</label>
                <div class="col-sm-8 col-lg-6">
                    <select multiple class="form-control">
                        <option>Select Property 1</option>
                        <option>Select Property 2</option>
                        <option>Select Property 3</option>
                        <option>Select Property 4</option>
                        <option>Select Property 5</option>
                        <option>Select Property 6</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-8">
                    <button type="submit" class="btn btn-default">Save</button>
                </div>
            </div>
        </form>
    </div>

    <div class="panel-body">
        <div id="tableDiv"></div>
    </div>

    <hr />
    <footer>
        <p>&copy; 2016 - InventoryManager.WebApplication</p>
    </footer>

</body>
</html>




